.canvas{
    text-align: center;
}
.button{
    width: 100px;
    height: 100px;
    /* background-color: aquamarine; */
    display: inline-block;
    margin: 10px;
    border:5px solid black;
}
#yellow{
    background-color: yellow;
}
#blue{
    background-color: blue;
}
#grey{
    background-color: grey;
}
#pink{
    background-color: pink;
}