@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-50;
}

@layer components {
    .btn {
        @apply bg-green-600 text-white px-4 py-2 rounded-md;
    }
}

.rotate-enter-active,
.rotate-leave-active {
    transition: all 0.4s ease;
}

.rotate-enter-from,
.rotate-leave-to {
    opacity: 0;
    transform: rotate(-6deg) scale(0.96);
}